{
  "name": "Twitter Api Challenge",
  "description": "Twitter Api Challenge App",
  "logo": "http://www.franchisemarketingsystems.com/wp-content/uploads/2015/10/Water_Scrooge_Logo.jpg",
  "repository": "",
  "keywords": [
    "Twitter",
    "Api",
    "Challenge",
    "RSpec",
    "Bootstrap",
    "authentication",
    "Ruby",
    "Rails"
  ],
  "scripts": {"postdeploy": "bundle exec rake db:migrate; bundle exec rake db:seed"},
  "env": {
    "MANDRILL_USERNAME": {
      "description": "Your Mandrill address for sending mail.",
      "value": "a@mail.com",
      "required": false
    },
    "MANDRILL_APIKEY": {
      "description": "Your Mandrill API key for sending mail.",
      "value": "yyy",
      "required": false
    },
    "TWITTER_CONSUMER_KEY": {
      "description": "Your Twitter API consumer key.",
      "value": "yyy",
      "required": false
    },
    "TWITTER_CONSUMER_SECRET": {
      "description": "Your Twitter API consumer secret.",
      "value": "yyy",
      "required": false
    },
    "TWITTER_ACCESS_TOKEN": {
      "description": "Your Twitter API access token.",
      "value": "yyy",
      "required": false
    },
    "TWITTER_ACCESS_SECRET": {
      "description": "Your Twitter API access secret.",
      "value": "yyy",
      "required": false
    },
    "ADMIN_EMAIL": {
      "description": "The administrator's email address for signing in.",
      "value": "a@mail.com",
      "required": true
    },
    "ADMIN_PASSWORD": {
      "description": "The administrator's password for signing in.",
      "value": "pass",
      "required": true
    },
    "DOMAIN_NAME": {
      "description": "Required for sending mail. Give an app name or use a custom domain.",
      "value": "myapp.herokuapp.com",
      "required": false
    },
    "RAILS_ENV": "production"
  }
}
